{{#partial "content"}}
    <h1 class="title1"><u>Spotted Animals</u></h1><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3><u>Non-endangered Animals</u></h3>
                {{#each Animals}}
                <div class="thumbnail">
                    <center>
                        <h4>{{ name }}</h4>
                        <h4>{{ location }}</h4>
                        <h4>{{ ranger }}</h4>
                    </center>
                </div>
                {{/each}}
            </div>

            <div class="col-md-6">
                <h3><u>Endangered Animals</u></h3>
    {{#each Animals}}
                <div class="thumbnail">
                    <center>
                        <h4>{{ name }}</h4>
                        <h4>{{ health }}</h4>
                        <h4>{{ age }}</h4>
                        <h4>{{ location }}</h4>
                        <h4>{{ ranger }}</h4>
                    </center>
                </div>
    {{/each}}
            </div>
        </div>
    </div>


{{/partial}}

{{> layout.hbs}}